@using Blazor.ViewModels
@using Attribute = Blazor.Data.Models.Attribute
@using Blazor.Data
@using Blazor.Data.Models
@inject RedrawEventPublisher Redrawer
<div style="top: @Y;left: @X; width: @(Constants.EntityBoxWidth + "px")"
     class="entity-box"
     @ref="element">
    <h5 class="entity-header"
        @onmousedown="(e) => StartDrag(e)"
        @onmouseup="StopDrag"
        @onmouseleave="StopDrag"
        @onmousemove="(e) => DragEntity(e)">
        @Evm.Entity.Name
    </h5>
    <table class="attribute-table">
        @foreach (Attribute attr in Evm.Entity.Attributes)
        {
            <tr>
                <td>

                    @ConstructPkFkString(attr)
                </td>
                <td>@attr.Name</td>
            </tr>
        }
    </table>
</div>

@code {
    [Parameter] public EntityViewModel Evm { get; set; } = null!;
    
    [Parameter] public EventCallback OnRelease { get; set; }
    
    // private int x = 0;
    // private int y = 0;
    private string X => Evm.X + "px";
    private string Y => Evm.Y + "px";
    private ElementReference element;
    private bool isDragging;
    private double xOffset;

    // protected override void OnInitialized()
    // {
    //     x = Evm.X;
    //     y = Evm.Y;
    // }

    private void StartDrag(MouseEventArgs e)
    {
        xOffset = e.ClientX;
        isDragging = true;
        Console.WriteLine(e.ClientX);
        Console.WriteLine("offset click: " + (e.ClientX - Evm.X));
        Console.WriteLine("offset click: " + (e.ClientY - Evm.Y));
    }

    private void StopDrag()
    {
        if (!isDragging) return;
        Console.WriteLine("Stop");
        isDragging = false;
        Redrawer.RaiseRedrawEvent();
        Console.WriteLine("y coord from entity: " + Evm.Y);
        // await OnRelease.InvokeAsync();
    }

    private void DragEntity(MouseEventArgs e)
    {
        if (!isDragging) return;

        // following offsets are strangely necessary to maintain the entity box relative to where the mouse was clicked.
        Evm.Y = (int)e.ClientY - 30; // hvorfor 20?
        Evm.X = (int)(e.ClientX - 810); // hvorfor 770?
    }

    private string ConstructPkFkString(Attribute attr)
    {
        string result = "";
        if (attr.IsPrimaryKey)
        {
            result += "PK";
        }

        if (attr.ForeignKey != null)
        {
            result += string.IsNullOrWhiteSpace(result) ? "FK" : ",FK";
        }

        return result;
    }

}