@page "/"
@using Blazor.ViewModels
@using Blazor.Data
@inject EntityManager EntityManager

<div style="height: 100vh; width: 100%; display: flex">
    <div style="height:100%; width: 80ch; display: flex; flex-flow: column">
        <div style="width:100%; flex:  0 1 40px">
            <button @onclick="GenerateDiagram" style="float:right; margin: 5px">Generate -></button>
        </div>
        <textarea style="height: 95%; width: 100%; flex: 1 1 auto; resize: none" @bind="sqlScript">

        </textarea>
    </div>
    <div style="height:100%; flex: 1">
        <div style="height:100%; width: 100%; background-color: lightblue; border: 10px solid black; position: relative"
             @onclick="PrintCoords">
            @foreach (EntityViewModel entity in entities)
            {
                <EntityBox Evm="entity"></EntityBox>
            }
        </div>
    </div>
</div>


@code {

    private string sqlScript = @"CREATE TABLE ""TvShows"" (
    ""Id"" INTEGER NOT NULL CONSTRAINT ""PK_TvShows"" PRIMARY KEY AUTOINCREMENT,
    ""Title"" TEXT NOT NULL,
    ""Year"" INTEGER NOT NULL,
    ""Genre"" TEXT NOT NULL
);

CREATE TABLE ""Episodes"" (
    ""Id"" INTEGER NOT NULL CONSTRAINT ""PK_Episodes"" PRIMARY KEY AUTOINCREMENT,
    ""Title"" TEXT NOT NULL,
    ""Runtime"" INTEGER NOT NULL,
    ""SeasonId"" TEXT NOT NULL,
    ""TvShowId"" INTEGER NOT NULL,
    CONSTRAINT ""FK_Episodes_TvShows_TvShowId"" FOREIGN KEY (""TvShowId"") REFERENCES ""TvShows"" (""Id"") ON DELETE CASCADE
);";

    private List<EntityViewModel> entities = new();
    private List<FkLink> links = new();
    
    private void PrintCoords(MouseEventArgs e)
    {
        Console.WriteLine($"Board click pos: ({e.ClientX}, {e.ClientY})");
    }

    private async Task GenerateDiagram()
    {
        entities = new();
        await Task.Delay(500);
        EntityManager.GenerateData(sqlScript);
        entities = EntityManager.Entities;
        links = EntityManager.FkLinks;
    }

}